body{
    background-image: url('../../src/image/bg_fruit.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
    margin: 0;
    background-size: 100% 100%;
}
.listFruit{
    list-style-type: none; 
}
.fruits{
    font-size: 20px;
    text-decoration: none;
    color:rgba(116, 17, 209, 0.836);
     font-weight: 700;
}
.fruits:hover{
    color: rgb(168, 51, 22);
}
.header{
    font-size: 24px; 
    color: rgba(255, 0, 212, 0.87);
}
.selectFruit{
    font-size: 28px;  
    color:rgb(43, 144, 226);
    font-weight: 900;
}
.choice{
    font-size: 20px; 
    color: rgba(255, 0, 212, 0.87);
    font-weight: 600; 
}
