<body>
    <div class="container">
      <h3 class="header">Список фруктов:</h3>
      <div class="card" >
        
      <ul class="listFruit">
          <li *ngFor="let fruit of fruits">
          <a href="#" class="fruits" (click)="clickMethod(fruit)">        
              {{fruit?.name}}
              </a>
          </li>
      </ul>
      <p class="choice">Выбранный фрукт => <span class="selectFruit">{{select}}</span> </p>  
      
      <!-- Дочерний компонент -->
        <app-modal 
            [fruit]="selectedFruit" 
            (onChanged)="select=selectedFruit.name"              
            *ngIf="modal"
            (close)="modal=false"
        ></app-modal>
        
      </div>
    </div>
</body>

